{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 img-grid">
      <div class="landing-img-container">
        <img class="landing-img" src="https://i.ibb.co/wNT9QVj/shedrun-tina.jpg" alt="...">
      </div>
    </div>
    <div class="col-xs-0 col-sm-6 img-grid">
      <div class="landing-img-container">
        <img class="landing-img" src="https://i.ibb.co/jzypQL3/shedrun-caps.jpg" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="ft-header-container">
    <h2 class="ft-header">FEATURED PRODUCTS</h1>
  </div>
  
  <div class="container">
    <div class="row item-row">
      {% for ft_item in ft_items %}
      <div class="item-container col-xs-12 col-sm-6 col-md-4">
        <a href="{% url 'item_detail' ft_item.id %}">
          <div class="card" style="width: 18rem;">
            <img src="{{ ft_item.main_image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ ft_item.name }}</h5>
              <p class="card-text">${{ ft_item.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
