{% extends 'base.html' %}

{% block content %}
<div class="container-fluid img-grid">
  <div class="row">
    <div class="col-6">
      <div class="landing-img-container">
        <img src="https://i.ibb.co/w4h76Sf/shedrun-tina1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="col-6">
      <div class="landing-img-container">
        <img src="https://i.ibb.co/wNT9QVj/shedrun-tina.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="landing-img-container">
        <img src="https://i.ibb.co/jzypQL3/shedrun-caps.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="col-6">
      <div class="landing-img-container">
        <img src="https://i.ibb.co/z5kSfJ0/shedrun-betty1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>


{% endblock %}
