{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 item-img-col">
      <div class="item-img-container">
        <img src="{{ item.main_image }}" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 item-detail-col">
      <div class="item-info">
        <h2>{{ item.name }}</h2>
        <p>${{ item.price }}</p>
        <p>Description</p>
        <ul>
          <li>Designed by {{ item.designer }}</li>
          <li>{{ item.logos }}</li>
          <li>{{ item.method }}</li>
          <li>{{ item.style }}</li>
          <li>{{ item.material }}</li>
          <li>Made in {{ item.origin}}</li>
        </ul>
        <p>Color: {{ item.color }}</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}