{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="product-img-container">
        <img src="https://i.ibb.co/LrKgP7g/IMG-8488.jpg" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="product-info">
        <h2>Chinese Take-Out Tee - White</h2>
        <p>$25.00</p>
        <p>Description</p>
        <ul>
          <li>"Chinese Take-Out" Logo by P. Rhogar</li>
          <li>Front and Back Logos</li>
          <li>Screenprinted</li>
          <li>Relaxed Fit</li>
          <li>100% Medium Weight Jersey</li>
          <li>Made in Salt Lake City, UT (USA)</li>
        </ul>
        <p>Color: White</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}