{% extends 'base.html' %}

{% block header %}
<div class="container-fluid shop-header-container">
  <h1 class="shop-header">ALL PRODUCTS</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row item-row">
    <div class="item-container col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/LrKgP7g/IMG-8488.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chinese Take-Out L/S Tee</h5>
          <p class="card-text">$25.00</p>
        </div>
      </div>
    </div>
    <div class="item-container col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/19pDLgc/IMG-8497.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pray For Me L/S Tee</h5>
          <p class="card-text">$25.00</p>
        </div>
      </div>
    </div>
    <div class="item-container col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/QHmfb7n/IMG-8492.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Roadkill S/S Tee</h5>
          <p class="card-text">$25.00</p>
        </div>
      </div>
    </div>
    <div class="item-container col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/qnNFcQ2/IMG-8499.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rose Embroidered S/S Tee</h5>
          <p class="card-text">$25.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}