* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Prompt', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #191919;
  color: whitesmoke;
}

.navbar-dark .navbar-brand {
  color: #cf1b0a;
  font-weight: 700;
  font-size: 1.25em;
  padding: 0;
  transition: linear .2s;
}

.navbar-dark .navbar-brand:hover {
  color: whitesmoke;
  border-bottom: 1px solid #cf1b0a;
  transform: scale(1.1);
}

.navbar-dark .navbar-nav .nav-link{
  color: whitesmoke;
  padding: 0px 6px;
  transition: linear .2s;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: whitesmoke;
  border-bottom: 1px solid #cf1b0a;
}

.navbar-dark .navbar-toggler {
  color: whitesmoke;
}

/* === Homepage === */
/* Image Grid */

.img-grid {
  padding: 0;
  border-bottom: 1px solid #191919;
}

.landing-img {
  width: 100%;
}

/* Featured Products & Store Products */
.ft-header {
  text-align: center;
  margin: 12px 0px;
  border-bottom: 1px solid #191919;
}

.item-row {
  width: 100%;
  margin: 0;
}
.item-container {
  display: flex;
  justify-content: center;
}

.card {
  border: none;
}

.card-img-top {
  height: 175px;
  border-radius: calc(.25rem - 1px);
  box-shadow: -2px 10px 10px 9px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  padding: 12px 0px;
}

.card-title {
  text-align: center;
  margin: 0;
}

/* === Shop/Store === */

.shop-header {
  text-align: center;
  margin: 12px 0px;
  border-bottom: 1px solid #191919;
}

/* === Item Detail === */
/* Item Image */
.item-img-col{
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}

.item-img-container {
  height: 300px;
  width: 300px;
}

.item-img-container img {
  width: 100%;
}

/* Item Detail */
.item-detail-col{
  margin: 24px 0px;
}
